.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px rgba(152, 152, 152, 0.63);

  @media (max-width: 768px) {
    width: calc(100% - 40px);
  }
}

body {
  padding: 50px 0;

  background-color: #e1ecf2;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

input {
  height: 25px;
  background-color: #f8f9fa;
  border: 1px solid #e1ecf2;
  outline: none;

  &:focus {
    border: 1px solid #73a6e0;
  }
}

